/out
/design
/3d


kicad_main/main-backups
kicad_main/jlcpcb
kicad_main/production
kicad_main/*.csv
kicad_main/*.html
kicad_main/*.xml
kicad_main/fp-info-cache
kicad_main/freerouting.bin
kicad_main/freerouting.dsn
kicad_main/main_old_layout.*


kicad_frontpanel/kicad_frontpanel-backups
kicad_frontpanel/jlcpcb
kicad_frontpanel/production
kicad_frontpanel/*.csv
kicad_frontpanel/*.html
kicad_frontpanel/*.xml
kicad_frontpanel/fp-info-cache
kicad_frontpanel/freerouting.bin
kicad_frontpanel/freerouting.dsn
kicad_frontpanel/kicad_frontpanel_copy.*

code/.pio
code/.vscode/.browse.c_cpp.db*
code/.vscode/c_cpp_properties.json
code/.vscode/launch.json
code/.vscode/ipch
code/test/
code/build/ATmega328P
code/dump.txt

/.vscode
.DS_Store
.pio

*.db
*.kicad_sch-bak
_autosave*
*.checksum
*.zip
*.DS_Store
*.pdf
*.ai
*.indd
*.idlk
*.blend
*.blend1
*.pcb3d
*.lck